##########
# DJANGO #
##########
django
djangorestframework
django-cors-headers
djangorestframework-simplejwt

#########
# MONGO #
#########
djongo
dnspython

#########
# OTHER #
#########
python-dotenv
pytz
datetime